.App {
  background-color: rgb(231, 231, 231);
  min-height: 100vh;
}

.header {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.article-card {
  border: 0.1em rgb(159, 159, 159) solid;
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 1rem;
}

.single-article {
  border: 0.1em rgb(159, 159, 159) solid;
  border-radius: 0.8rem;
  background-color: rgb(255, 255, 255);
}

.single-article-author {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.single-article-body {
  display: flex;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.topic-and-date {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.single-article-title {
  margin-left: 0.5rem;
}

.comment-vote {
  display: flex;
  flex: row;
  justify-content: space-around;
}

.nav-bar {
  display: flex;
  flex: row;
  justify-content: space-around;
  margin-bottom: 1rem;
}
.article-link {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 700px) {
  .all-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-card {
    border: 0.1em rgb(159, 159, 159) solid;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
    min-width: 30%;
    max-width: 30%;
    flex: auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
