.App {
  background-color: rgb(231, 231, 231);
}

.header {
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.article-card {
  border: 0.1em rgb(159, 159, 159) solid;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 1rem;
}

.comment-vote {
  display: flex;
  flex: row;
  justify-content: space-around;
}

@media screen and (min-width: 700px) {
  .all-articles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .article-card {
    border: 0.1em rgb(159, 159, 159) solid;
    border-radius: 1rem;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-bottom: 1rem;
    min-width: 30%;
    max-width: 30%;
    flex: auto;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
  }
}
